body {
    background-color: #ECF2FF;
}

.titulo {
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: "Playwrite NG Modern", cursive;
    color: #5A639C;
    font-size: 40px;
}

.contenedorsito {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.botonsito {
    border: #7776B3 solid 1px;
    border-radius: 10px;
    margin-top: 50px;
    width: 250px;
    height: 45px;
    font-family: "Playwrite NG Modern", cursive;
    background-color: #E2BBE9;
    color: #5A639C;
    font-weight: bold;
    font-size: 15px;
}

.botonsito:hover {
    width: 270px;
    height: 54px;
    transform: translateX(15%);
    transform: translateY(15%);
    transition: transform 0.2s ease-in-out;
    background-color: rgb(175, 164, 192);
}

.contenedor-img {
    width: 50%;
    height: auto;
}

.imagensita {
    width: 100%;
    height: 100%;
    justify-content: center;
    border-radius: 20px;
    background-image: black;
}

/*Diseño para medidas pequeñas*/
@media (max-width: 767px) {
    .contenedorsito {
        height: 90vh;
        justify-content: center;
    }
}